
body{
		font-family: 'Comic Neue', cursive;

}



#container{

	margin: 150px auto;
	width: 55%;
	display: flex;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	flex-direction:column;
	background-color: #f7f7f7;
	box-sizing: border-box;

}

/*@media screen and (max-width: )
*/

h1 {
	background-color: rgba(120, 0, 0, 0.8);
	color: white;
	margin: 0px;
	font-size: 24px;
	padding: 10px 20px;
	font-weight: normal;
	text-transform: uppercase;
	font-weight: bold;
}


#plus{
	float: right;
	color: white;

}


input{
	font-family: 'Comic Neue', cursive;
	font-size: 16px;
	color:  rgba(120, 0, 0, 0.9);
	padding: 12px 20px;
	border: none;
	box-sizing: border-box;
	background-color:#dbf0fd;
	outline-color: rgba(120, 0, 0, 0.5);
	border:2px solid rgba(0, 0, 0, 0);
}


input:focus{
	background-color: white;
	border:2px solid rgba(120, 0, 0, 0.8) ;
	outline: none;
}


ul{
	padding:0px;
	margin: 0px;
}

li{
	list-style: none;
	background-color: white;
	height: 40px;
	line-height: 40px;
	color: #555;
	box-sizing: border-box;
	word-wrap:normal;
}


li:nth-child(2n){
	background-color:#dbf0fd;

}


li:hover span{
	width: 40px;
	transition: width 0.3s;
	opacity: 1.0;
}


.trash-box{

	width: 0px;
	color: white;
	height: 40px;
	margin-right: 15px;
	display: inline-block;
	text-align: center;
	background-color:  rgba(128, 0, 0, 0.9) ;
	font-size: 20px;
	opacity: 0;
}


/*js classes section*/

.completed{
	color: gray;
	text-decoration: line-through;	
}